body {
  text-align: center;
  padding: 30px 0;
}

h2#title {
  font-weight: 500;
}

button#grade {
  width: 65px;
  height: 35px;
  color: #6500c3;
  font-size: 15px;
  border: 1px solid #6500c3;
  border-radius: 5px;
  background-color: transparent; /* transparent: 투명한 */
  transition-duration: 0.5s;
  cursor: pointer;
}

button#grade:hover {
  color: #ffffff;
  background-image: linear-gradient(280deg, #8400ff, #a25df4);
  /* background-image: linear-gradient(...)
   : 요소의 배경을 "선형 그라데이션(점진적 색상 전환)"으로 채워주는 CSS 기능 
   280deg : 그라데이션 방향(각도)로, 0deg가 아래에서 위쪽, 90deg가 왼쪽에서 오른쪽 방향
   첫 번쨰 색상 parameter : 그라데이션이 시작되는 첫 번째 색상
   두 번째 색상 parameter : 그라데이션이 끝나는 두 번째 색상*/

  /* 방향으로도 표현 가능 background-image: linear-gradient(to right, red, blue); */
}
